#display {
  width: 247px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  font-size: large;
  color: white;
}

#container {
  display: grid;
  grid-template-rows: 40px auto;
  row-gap: 10px;
  background-color: hsl(0, 0%, 15%);
  height: 330px;
  width: 250px;
  border-radius: 15px;
  border: none;
}

#buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {
  color: white;
  background-color: rgb(94, 92, 92);
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#equals {
  background-color: orange;
}

.function {
  background-color: rgb(69, 67, 67);
}

#close {
  border: none;
  border-radius: none;
}
